Package: libhide
Name: libhide
Version: 2.0.7
Architecture: iphoneos-arm
Description: Library to hide icons. If you are a developer wanting to use this library, code samples included in /usr/lib.
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: BigBoss <bigboss@thebigboss.org>
Section: Development
Depends: mobilesubstrate
dev: bigboss
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: role::developer, purpose::library
